{% extends "sitio/layout.html" %}

{% block content %}
    <section class="row mt-3">

        <!-- Titulo -->
        <div class="col-12 mb-4 text-center text-center text-md-left">
            <h3 class="display-4">Acerca de nostros</h3>
            <h4 class="h4 mt-3">Somos Donde Alex</h4>
            <p>Restaurante Talquino con preparación exclusiva de clásicos Repletos en distintas variedades, Grandes e Increíbles Sándwich, Pizzas Exclusivas, Artesanales Hamburguesas / Extraordinarias Chorrillanas y mucho mas...</p>
            <p>Horario
                Lunes a jueves de 11:30 a 20:00 hrs para servir, 20:30 llevar
                Viernes y sábado de 12:00 a 20:30 servir, 21:00 llevar
                Domingo 16:30 a 21:30 hrs</p>
        
    </section>
{% endblock %}